{% if friends %}
<table style="border-collapse:collapse" border="1">
  <tr>
    <th>Name</th>
  </tr>
  {% for friend in friends %}
  <tr>
    <td>
      <a href="">{{ friend.username }}</a>
    </td>
    <td>
      <form action="{% url 'friend_remove' friend.username %}" method="post"
            style="display:inline">
        {% csrf_token %}
        <input type="submit" value="Remove" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Sorry, no friends exist :P</p>
{% endif %}
<br />

{% if games_list %}
<table style="border-collapse:collapse" border="1">
  <tr>
    <th>Title</th>
    <th>Genre</th>
  </tr>
  {% for game in games_list %}
  <tr>
    <td>
      <a href="{% url 'games:game_edit' game.id %}">{{ game.title }}</a>
    </td>
    <td>{{ game.genre_name }}</td>
    <td>
      <form action="{% url 'games:game_delete' game.id %}" method="post"
            style="display:inline">
        {% csrf_token %}
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Sorry, no games have been added.</p>
{% endif %}
<br />
<a href="">Add as friend</a>
<br />
