{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Game Atlas{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
  <style>
    body {
      padding-top: 60px;
    }
  </style>
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="{% url 'home' %}">Game Atlas</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="{% url 'games:index' %}">Games</a></li>
            <li><a href="{% url 'games:releases' %}">Releases</a></li>
            <li><a href="{% url 'games:game_search' %}">Search</a></li>
            <li><a href="{% url 'accounts:search' %}">Users</a></li>
          </ul>
          <ul class="nav pull-right">
            {% if user.is_authenticated %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ user.username }} <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                <li><a href="{% url 'accounts:friends' %}">Friends</a></li>
                <li><a href="{% url 'accounts:games' %}">My Games</a></li>
                <li><a href="{% url 'accounts:recommended_games' %}">Recommended</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
              </ul>
            </li>
            {% else %}
            <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
            <li><a href="{% url 'accounts:login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <script src="{% static "js/jquery-1.9.1.min.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>
