{% extends "base.html" %}

{% block content %}
{% if game %}
<form action="{% url 'games:game_edit' game.id %}" method="post">
{% else %}
<form action="{% url 'games:game_add' %}" method="post">
{% endif %}
  {% csrf_token %}
  Title: <input type="text" name="game_title" value="{{ game.title }}">
  <br />
  Genre:
  <select name="genre_id">
    {% for genre in genres %}
    {% ifequal game.genre_id genre.id %}
    <option value="{{ genre.id }}" selected="selected">
    {% else %}
    <option value="{{ genre.id }}">
    {% endifequal %}
      {{ genre.name }}
    </option>
    {% endfor %}
  </select>
  <br />
  <input type="submit" value="Save" />
</form>
<br />
<form action="{% url 'games:game_add2' %}" method="post">
  {% csrf_token %}
  Title: <input type="text" name="title">
  Platform <input type="text" name="platform">
  <input type="submit" value="Add game">
</form>
{% endblock %}
