{% if games_list %}
<table style="border-collapse:collapse" border="1">
  <tr>
    <th>Title</th>
    <th>Genre</th>
  </tr>
  {% for game in games_list %}
  <tr>
    <td>
      <a href="{% url 'games:game_detail' game.id %}">{{ game.title }}</a>
    </td>
    <td>{{ game.genre_name }}</td>
    <td>
      <form action="{% url 'games:game_delete' game.id %}" method="post"
            style="display:inline">
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Sorry, no games have been added.</p>
{% endif %}
<br />
<a href="{% url 'games:game_new' %}">Add new game</a>
