{% extends "base.html" %}

{% block content %}
{% if games_list %}
<table style="border-collapse:collapse" border="1">
  <tr>
    <th>Title</th>
    <th>Genre</th>
  </tr>
  {% for game in games_list %}
  <tr>
    <td>
      <a href="{% url 'games:game_detail' game.id %}">{{ game.title }}</a>
    </td>
    <td>{{ game.genre_name }}</td>
    {% if user.is_authenticated %}
    <td>
      <form action="{% url 'accounts:add_game' %}" method="post"
            style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="game_id" value="{{ game.id }}" />
        <input type="hidden" name="next" value="{{ request.path }}" />
        <input type="submit" value="Add" />
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Sorry, no games have been added.</p>
{% endif %}
<p><a href="{% url 'games:game_add' %}">Add new game</a></p>
{% endblock %}
