{% extends "base.html" %}

{% block content %}
{% if games_list %}
<table style="border-collapse:collapse" border="1">
  <tr>
    <th>Title</th>
    <th>Genre</th>
  </tr>
  {% for game in games_list %}
  <tr>
    <td>
      <a href="{% url 'games:game_edit' game.id %}">{{ game.title }}</a>
    </td>
    <td>{{ game.genre_name }}</td>
    <td>
      <form action="{% url 'games:game_delete' %}" method="post"
            style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="game_id" value="{{ game.id }}" />
        <input type="submit" value="Delete" />
      </form>
    </td>
    {% if user.is_authenticated %}
    <td>
      <form action="{% url 'accounts:add_game' %}" method="post"
            style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="game_id" value="{{ game.id }}" />
        <input type="submit" value="Add" />
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Sorry, no games have been added.</p>
{% endif %}
<br />
<a href="{% url 'games:game_add' %}">Add new game</a>
<br />
<a href="{% url 'games:releases' %}">Game Releases</a>
<br />
<a href="{% url 'accounts:signup' %}">Sign up</a>
<br />
<form action="{% url 'games:game_search' %}" method="get" style="display:inline">
  <input type="text" name="title" value="Search">
  <input type="submit" value="Search">
</form>
{% endblock %}
