{% extends "base.html" %}

{% block content %}
<form action="{% url 'games:game_search' %}" method="get" style="display:inline">
  <input type="text" name="title" value="{{ request.GET.title }}"
         placeholder="Search for Games">
  <input type="submit" value="Search">
</form>

{% if games %}
<p>Search results:</p>
<ul>
{% for game in games %}
  <li><a href="{% url 'games:game_detail' game.id %}">{{ game.title }}</a></li>
{% endfor%}
</ul>
<p> Not here? Add it to our database </p>
<p><a href="{% url 'games:game_add' %}">Add a game</a></p>
{% elif request.GET.title %}
<p> It appears this game isn't in our database, would you like to add it? </p>
<p><a href="{% url 'games:game_add' %}">Add a game</a></p>
{% endif %}
{% endblock %}
