{% if friends %}
<table style="border-collapse:collapse" border="1">
  <tr>
    <th>Name</th>
  </tr>
  {% for friend in friends %}
  <tr>
    <td>
      <a href="{% url 'users:profile' friend.username%}">{{ friend.username }}</a>
    </td>
    {% if user.username == page.username %}
    <td>
      <form action="{% url 'accounts:remove_friend' %}" method="post"
            style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="friend_id" value="{{ friend.id }}" />
        <input type="submit" value="Remove" />
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Sorry, no friends exist :P</p>
{% endif %}
<br />

{% include "pending_friends.html" %}
