{% if friends %}
<table style="border-collapse:collapse" border="1">
  <tr>
    <th>Name</th>
  </tr>
  {% for friend in friends %}
  <tr>
    <td>
      <a href="{% url 'friends:friend_info' friend.id %}">{{ friend.username }}</a>
    </td>
    <td>
      <form action="{% url 'friends:friend_remove' friend.id %}" method="post"
            style="display:inline">
        {% csrf_token %}
        <input type="submit" value="Remove" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Sorry, no friends exist :P</p>
{% endif %}
<br />
