{% if user.username == page.username %}
{% if pending_friends %}
<p> Pending friend requests </p>
<table style="border-collapse:collapse" border="1">
  <tr>
    <th>Name</th>
  </tr>
  {% for friend in pending_friends %}
  <tr>
    <td>
      <a href="{% url 'users:profile' friend.username %}">
        {{ friend.username }}
      </a>
    </td>
    <td>
      <form action="{% url 'accounts:accept_friend' %}" method="post"
            style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="friend_id" value="{{ friend.id }}" />
        <input type="submit" value="Accept" />
      </form>
    </td>
    <td>
      <form action="{% url 'accounts:reject_friend' %}" method="post"
            style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="friend_id" value="{{ friend.id }}" />
        <input type="submit" value="Reject" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endif %}
<br />