{% if games %}
<table style="border-collapse:collapse" border="1">
  <tr>
    <th>Title</th>
    <th>Genre</th>
  </tr>
  {% for game in games %}
  <tr>
    <td>
      <a href="{% url 'games:game_detail' game.id %}">{{ game.title }}</a>
    </td>
    <td>{{ game.genre_name }}</td>
    {% if user.is_authenticated and user.id == page.id %}
    <td>
      <form action="{% url 'accounts:remove_game' %}" method="post"
            style="display:inline">
        {% csrf_token %}
        <input type="hidden" name="game_id" value="{{ game.id }}" />
        <input type="hidden" name="next" value="{{ request.path }}" />
        <input type="submit" value="Remove" />
      </form>
    </td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% else %}
<p>Sorry, no games have been added.</p>
<br />
{% endif %}
